// Color system
$white: #fff !default;
$black: #000 !default;
$brown: #795548 !default;
$gray: #607d8b !default;
$purple: #673ab7 !default;
$indigo: #3f51b5 !default;
$blue: #2196f3 !default;
$cyan: #00bcd4 !default;
$teal: #009688 !default;
$green: #4caf50 !default;
$lime: #cddc39 !default;
$yellow: #ffeb3b !default;
$amber: #ffc107 !default;
$orange: #ff5722 !default;
$red: #f44336 !default;
$pink: #e91e63 !default;

$theme-colors: (
  "white": $white,
  "black": $black,
  "gray": $gray,
  "brown": $brown,
  "purple": $purple,
  "indigo": $indigo,
  "blue": $blue,
  "cyan": $cyan,
  "teal": $teal,
  "green": $green,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "orange": $orange,
  "red": $red,
  "pink": $pink,
) !default;

$theme-text-colors: (
  "white": $black,
  "black": $white,
  "gray": $white,
  "brown": $white,
  "purple": $white,
  "indigo": $white,
  "blue": $white,
  "cyan": $white,
  "teal": $white,
  "green": $white,
  "lime": $black,
  "yellow": $black,
  "amber": $black,
  "orange": $white,
  "red": $white,
  "pink": $white,
) !default;

$snow: #fffafa;
$honeydew: #f0fff0;
$mintcream: #f5fffa;
$azure: #f0ffff;
$aliceblue: #f0f8ff;
$ghostwhite: #f8f8ff;
$whitesmoke: #f5f5f5;
$seashell: #fff5ee;
$beige: #f5f5dc;
$oldlace: #fdf5e6;
$floralwhite: #fffaf0;
$ivory: #fffff0;
$antiquewhite: #faebd7;
$linen: #faf0e6;
$lavenderblush: #fff0f5;
$mistyrose: #ffe4e1;

$whites: (
  "snow": $snow,
  "honeydew": $honeydew,
  "mintcream": $mintcream,
  "ghostwhite": $ghostwhite,
  "whitesmoke": $whitesmoke,
  "seashell": $seashell,
  "beige": $beige,
  "oldlace": $oldlace,
  "floralwhite": $floralwhite,
  "ivory": $ivory,
  "antiquewhite": $antiquewhite,
  "linen": $linen,
  "lavenderblush": $lavenderblush,
  "mistyrose": $mistyrose,
) !default;

$gray-50: #eceff1;
$gray-100: #cfd8dc;
$gray-200: #b0bec5;
$gray-300: #90a4ae;
$gray-400: #78909c;
$gray-500: $gray;
$gray-600: #546e7a;
$gray-700: #455a64;
$gray-800: #37474f;
$gray-900: #263238;

$grays: (
  "gray-50": $gray-50,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
);

// Typography
$font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$text-align: ("center", "left", "right", "justify");

// breakpoint for media query
// xs - smartphone
// sm - tablets
// md - tablets landscape and small desktops,
// lg - desktop
// xl - large desktops
$breakpoints: (
  "xs": 320px,
  "sm": 600px,
  "md": 900px,
  "lg": 1200px,
  "xl": 1800px,
);

// containers
$container-sizes: (
  "sm": map-get($breakpoints, sm) - 30px,
  "md": map-get($breakpoints, md) - 40px,
  "lg": map-get($breakpoints, lg) - 50px,
  "xl": map-get($breakpoints, xl) - 400px,
);
