.container {
  padding-right: 1rem;
  padding-left: 1rem;

  &:not(.is-fluid) {
    margin: 0 auto;

    @each $bp, $value in $breakpoints {
      @include genbp($value) {
        width: 100%;
        max-width: map-get($container-sizes, $bp);
      }
    }
  }
}
