.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;

  @each $bp, $value in $breakpoints {
    @include media-breakpoint-min($value) {
      width: 100%;
      max-width: map-get($container-sizes, $bp);
    }
  }
}

.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
}
