// grid here
.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

@include generate-column();

// generate column for every breakpoint
@each $breakpoint-type, $breakpoint-value in $breakpoints {
  @include media-breakpoint-min($breakpoint-value) {
    @include generate-column(true, $breakpoint-type);
  }
}
