// paddings
$paddings: (
  padding: (
    property: padding,
    class: p,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-top: (
    property: padding-top,
    class: pt,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-bottom: (
    property: padding-bottom,
    class: pb,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-left: (
    property: padding-left,
    class: pl,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-right: (
    property: padding-right,
    class: pr,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-x: (
    multiple: true,
    class: px,
    values: (
      "0": (
        padding-left: 0,
        padding-right: 0,
      ),
      "1": (
        padding-left: 0.25rem,
        padding-right: 0.25rem,
      ),
      "2": (
        padding-left: 0.5rem,
        padding-right: 0.5rem,
      ),
      "3": (
        padding-left: 0.75rem,
        padding-right: 0.75rem,
      ),
      "4": (
        padding-left: 1rem,
        padding-right: 1rem,
      ),
      "5": (
        padding-left: 1.25rem,
        padding-right: 1.25rem,
      ),
      "6": (
        padding-left: 1.5rem,
        padding-right: 1.5rem,
      ),
      "7": (
        padding-left: 2rem,
        padding-right: 2rem,
      ),
      "8": (
        padding-left: 2.5rem,
        padding-right: 2.5rem,
      ),
      "9": (
        padding-left: 3rem,
        padding-right: 3rem,
      ),
      "10": (
        padding-left: 4rem,
        padding-right: 4rem,
      ),
    ),
  ),
  padding-y: (
    multiple: true,
    class: py,
    values: (
      "0": (
        padding-top: 0,
        padding-bottom: 0,
      ),
      "1": (
        padding-top: 0.25rem,
        padding-bottom: 0.25rem,
      ),
      "2": (
        padding-top: 0.5rem,
        padding-bottom: 0.5rem,
      ),
      "3": (
        padding-top: 0.75rem,
        padding-bottom: 0.75rem,
      ),
      "4": (
        padding-top: 1rem,
        padding-bottom: 1rem,
      ),
      "5": (
        padding-top: 1.25rem,
        padding-bottom: 1.25rem,
      ),
      "6": (
        padding-top: 1.5rem,
        padding-bottom: 1.5rem,
      ),
      "7": (
        padding-top: 2rem,
        padding-bottom: 2rem,
      ),
      "8": (
        padding-top: 2.5rem,
        padding-bottom: 2.5rem,
      ),
      "9": (
        padding-top: 3rem,
        padding-bottom: 3rem,
      ),
      "10": (
        padding-top: 4rem,
        padding-bottom: 4rem,
      ),
    ),
  ),
);

// margins
$margins: (
  margin: (
    property: margin,
    class: m,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
      "auto": auto,
    ),
  ),
  margin-top: (
    property: margin-top,
    class: mt,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
      "auto": auto,
    ),
  ),
  margin-bottom: (
    property: margin-bottom,
    class: mb,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
      "auto": auto,
    ),
  ),
  margin-left: (
    property: padding-left,
    class: ml,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
      "auto": auto,
    ),
  ),
  margin-right: (
    property: margin-right,
    class: mr,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
      "auto": auto,
    ),
  ),
  margin-x: (
    multiple: true,
    class: mx,
    values: (
      "0": (
        margin-left: 0,
        margin-right: 0,
      ),
      "1": (
        margin-left: 0.25rem,
        margin-right: 0.25rem,
      ),
      "2": (
        margin-left: 0.5rem,
        margin-right: 0.5rem,
      ),
      "3": (
        margin-left: 0.75rem,
        margin-right: 0.75rem,
      ),
      "4": (
        margin-left: 1rem,
        margin-right: 1rem,
      ),
      "5": (
        margin-left: 1.25rem,
        margin-right: 1.25rem,
      ),
      "6": (
        margin-left: 1.5rem,
        margin-right: 1.5rem,
      ),
      "7": (
        margin-left: 2rem,
        margin-right: 2rem,
      ),
      "8": (
        margin-left: 2.5rem,
        margin-right: 2.5rem,
      ),
      "9": (
        margin-left: 3rem,
        margin-right: 3rem,
      ),
      "10": (
        margin-left: 4rem,
        margin-right: 4rem,
      ),
      "auto": (
        margin-left: auto,
        margin-right: auto,
      ),
    ),
  ),
  margin-y: (
    multiple: true,
    class: my,
    values: (
      "0": (
        margin-top: 0,
        margin-bottom: 0,
      ),
      "1": (
        margin-top: 0.25rem,
        margin-bottom: 0.25rem,
      ),
      "2": (
        margin-top: 0.5rem,
        margin-bottom: 0.5rem,
      ),
      "3": (
        margin-top: 0.75rem,
        margin-bottom: 0.75rem,
      ),
      "4": (
        margin-top: 1rem,
        margin-bottom: 1rem,
      ),
      "5": (
        margin-top: 1.25rem,
        margin-bottom: 1.25rem,
      ),
      "6": (
        margin-top: 1.5rem,
        margin-bottom: 1.5rem,
      ),
      "7": (
        margin-top: 2rem,
        margin-bottom: 2rem,
      ),
      "8": (
        margin-top: 2.5rem,
        margin-bottom: 2.5rem,
      ),
      "9": (
        margin-top: 3rem,
        margin-bottom: 3rem,
      ),
      "10": (
        margin-top: 4rem,
        margin-bottom: 4rem,
      ),
      "auto": (
        margin-top: auto,
        margin-bottom: auto,
      ),
    ),
  ),
);
