$paddings: (
  padding: (
    property: padding,
    class: p,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-top: (
    property: padding-top,
    class: pt,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-bottom: (
    property: padding-bottom,
    class: pb,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-left: (
    property: padding-left,
    class: pl,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-right: (
    property: padding-right,
    class: pr,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-x: (
    multiple: true,
    class: px,
    values: (
      "0": (
        padding-left: 0,
        padding-right: 0,
      ),
      "1": (
        padding-left: 0.25rem,
        padding-right: 0.25rem,
      ),
      "2": (
        padding-left: 0.5rem,
        padding-right: 0.5rem,
      ),
      "3": (
        padding-left: 0.75rem,
        padding-right: 0.75rem,
      ),
      "4": (
        padding-left: 1rem,
        padding-right: 1rem,
      ),
      "5": (
        padding-left: 1.25rem,
        padding-right: 1.25rem,
      ),
      "6": (
        padding-left: 1.5rem,
        padding-right: 1.5rem,
      ),
      "7": (
        padding-left: 2rem,
        padding-right: 2rem,
      ),
      "8": (
        padding-left: 2.5rem,
        padding-right: 2.5rem,
      ),
      "9": (
        padding-left: 3rem,
        padding-right: 3rem,
      ),
      "10": (
        padding-left: 4rem,
        padding-right: 4rem,
      ),
    ),
  ),
);
