$paddings: (
  padding: (
    property: padding,
    class: p,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-top: (
    property: padding-top,
    class: pt,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-bottom: (
    property: padding-bottom,
    class: pb,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-left: (
    property: padding-left,
    class: pl,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
  padding-right: (
    property: padding-right,
    class: pr,
    values: (
      "0": 0,
      "1": 0.25rem,
      "2": 0.5rem,
      "3": 0.75rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 2rem,
      "8": 2.5rem,
      "9": 3rem,
      "10": 4rem,
    ),
  ),
);
