$visibility: (
  visible: (
    property: visibility,
    class: null,
    values: (
      "visible": visible,
    ),
  ),
  invisible: (
    property: visibility,
    class: null,
    values: (
      "invisible": hidden,
    ),
  ),
);
