// button here
.btn {
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0.1rem solid transparent;
  line-height: 1.5;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: #4a5568;

  + .btn {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}

@each $color, $value in $button-colors {
  .btn-#{$color} {
    background-color: $value;
    color: map-get($button-text-colors, $color);
    @if (($color == "white")) {
      border: 1px solid $gray-300;
    }
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &:hover {
      @if ($color == "black") {
        background-color: lighten($value, 15%);
      } @else {
        background-color: darken($value, 5%);
      }
    }
  }
}

@each $color, $value in $button-light-colors {
  .btn-light-#{$color} {
    background-color: $value;
    color: map-get($button-light-text-colors, $color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: darken($value, 5%);
    }
  }
}

@each $color, $value in $button-outline-colors {
  .btn-outline-#{$color} {
    background-color: $white;
    border: 1px solid $value;
    color: map-get($button-outline-text-colors, $color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: map-get($button-outline-text-colors, $color);
      color: map-get($button-text-colors, $color);
      border-color: map-get($button-outline-text-colors, $color);
    }
  }
}

.btn-rounded {
  border-radius: 2rem;
}

.btn-full {
  display: block;
}
