// default button
.btn {
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0.1rem solid transparent;
  line-height: 1.5;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: #4a5568;
}

// button with background
@each $color, $value in $button-colors {
  .btn-#{$color} {
    background-color: $value;
    color: map-get($button-text-colors, $color);
    @if (($color == "white")) {
      border: 0.063rem solid $gray-300;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    &:hover {
      @if ($color == "black") {
        background-color: lighten($value, 15%);
      } @else {
        background-color: darken($value, 5%);
      }
    }
  }
}

// button with light background
@each $color, $value in $button-light-colors {
  .btn-light-#{$color} {
    background-color: $value;
    color: map-get($button-light-text-colors, $color);

    &:hover {
      background-color: darken($value, 5%);
    }
  }
}

// button with outline
@each $color, $value in $button-outline-colors {
  .btn-outline-#{$color} {
    border: 0.094rem solid $value;
    color: map-get($button-outline-text-colors, $color);

    &:hover {
      background-color: map-get($button-outline-text-colors, $color);
      color: map-get($button-text-colors, $color);
      border-color: map-get($button-outline-text-colors, $color);
    }
  }
}

// button with no background
@each $color, $value in $button-colors {
  .btn-link-#{$color} {
    background-color: transparent;
    color: $value;
    text-decoration: none;
    @if (($color == "white")) {
      color: $gray-600;
    }

    &:hover {
      @if ($color == "white") {
        color: $gray-800;
      }
      color: darken($value, 15%);
    }
  }
}

.btn-rounded {
  border-radius: 2rem;
}

.btn-full {
  display: block;
}
