// Color system
$transparent: transparent !default;
$white: #fff !default;
$snow: #fffafa !default;
$ghostwhite: #f8f8ff !default;
$whitesmoke: #f5f5f5 !default;
$black: #000 !default;

$brown-100: #ecd9c5 !default;
$brown-200: #e0bf9f !default;
$brown-300: #d3a678 !default;
$brown-400: #c68c52 !default;
$brown: #ad7339 !default;
$brown-600: #87592c !default;
$brown-700: #60401f !default;
$brown-800: #3a2613 !default;
$brown-900: #2a1c0e !default;

$gray-100: #e2e7ec !default;
$gray-200: #c6ced8 !default;
$gray-300: #a9b6c5 !default;
$gray-400: #8d9db1 !default;
$gray: #70859e !default;
$gray-600: #65788e !default;
$gray-700: #4e5d6f !default;
$gray-800: #38434f !default;
$gray-900: #22282f !default;

$red-100: #fbe9e9 !default;
$red-200: #ec9393 !default;
$red-300: #e46767 !default;
$red-400: #dd3c3c !default;
$red: #da2d2d !default;
$red-600: #c32222 !default;
$red-700: #c32222 !default;
$red-800: #6c1313 !default;
$red-900: #560f0f !default;

$purple-100: #d1c9e8 !default;
$purple-200: #b2a5d9 !default;
$purple-300: #9381ca !default;
$purple-400: #745dbb !default;
$purple: #5a44a2 !default;
$purple-600: #46357e !default;
$purple-700: #32265a !default;
$purple-800: #281e48 !default;
$purple-900: #1e1736 !default;

$indigo-100: #c5cae9 !default;
$indigo-200: #9fa8da !default;
$indigo-300: #7986cb !default;
$indigo-400: #5c6bc0 !default;
$indigo: #3f51b5 !default;
$indigo-600: #3949ab !default;
$indigo-700: #303f9f !default;
$indigo-800: #283593 !default;
$indigo-900: #1a237e !default;

$blue-100: #b4d7fe !default;
$blue-200: #82bcfd !default;
$blue-300: #50a1fc !default;
$blue-400: #2f8ffb !default;
$blue: #1e86fb !default;
$blue-600: #046de1 !default;
$blue-700: #0355af !default;
$blue-800: #023d7d !default;
$blue-900: #01244b !default;

$cyan-100: #b2ebf2 !default;
$cyan-200: #80deea !default;
$cyan-300: #4dd0e1 !default;
$cyan-400: #26c6da !default;
$cyan: #00bcd4 !default;
$cyan-600: #00acc1 !default;
$cyan-700: #0097a7 !default;
$cyan-800: #00838f !default;
$cyan-900: #006064 !default;

$teal: #009688 !default;
$green: #4caf50 !default;
$lime: #cddc39 !default;
$yellow: #ffeb3b !default;
$amber: #ffc107 !default;
$orange: #ff5722 !default;
$pink: #e91e63 !default;

$theme-colors: (
  "transparent": $transparent,
  "white": $white,
  "snow": $snow,
  "ghostwhite": $ghostwhite,
  "whitesmoke": $whitesmoke,
  "black": $black,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray": $gray,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "brown-100": $brown-100,
  "brown-200": $brown-200,
  "brown-300": $brown-300,
  "brown-400": $brown-400,
  "brown": $brown,
  "brown-600": $brown-600,
  "brown-700": $brown-700,
  "brown-800": $brown-800,
  "brown-900": $brown-900,
  "purple-100": $purple-100,
  "purple-200": $purple-200,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple": $purple,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800,
  "purple-900": $purple-900,
  "indigo-100": $indigo-100,
  "indigo-200": $indigo-200,
  "indigo-300": $indigo-300,
  "indigo-400": $indigo-400,
  "indigo": $indigo,
  "indigo-600": $indigo-600,
  "indigo-700": $indigo-700,
  "indigo-800": $indigo-800,
  "indigo-900": $indigo-900,
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue": $blue,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900,
  "cyan-100": $cyan-100,
  "cyan-200": $cyan-200,
  "cyan-300": $cyan-300,
  "cyan-400": $cyan-400,
  "cyan": $cyan,
  "cyan-600": $cyan-600,
  "cyan-700": $cyan-700,
  "cyan-800": $cyan-800,
  "cyan-900": $cyan-900,
  "teal": $teal,
  "green": $green,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "orange": $orange,
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red": $red,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900,
  "pink": $pink,
) !default;

$theme-text-colors: (
  "white": $black,
  "black": $white,
  "gray": $white,
  "brown": $white,
  "purple": $white,
  "indigo": $white,
  "blue": $white,
  "cyan": $white,
  "teal": $white,
  "green": $white,
  "lime": $black,
  "yellow": $black,
  "amber": $black,
  "orange": $white,
  "red": $white,
  "pink": $white,
) !default;

$colors: (
  background: (
    property: background-color,
    class: bg,
    values: $theme-colors,
  ),
  text: (
    property: color,
    class: text,
    values: $theme-colors,
  ),
);
