$positions: (
  position: (
    property: position,
    class: null,
    values: (
      "static": static,
      "fixed": fixed,
      "absolute": absolute,
      "relative": relative,
      "sticky": sticky,
    ),
  ),
  fixed: (
    multiple: true,
    class: fixed,
    values: (
      "top": (
        position: fixed,
        top: 0,
      ),
      "bottom": (
        position: fixed,
        bottom: 0,
      ),
    ),
  ),
  sticky: (
    multiple: true,
    class: sticky,
    values: (
      "top": (
        position: sticky,
        top: 0,
      ),
    ),
  ),
  absolute: (
    multiple: true,
    class: absolute,
    values: (
      "top": (
        position: absolute,
        top: 0,
      ),
      "bottom": (
        position: absolute,
        bottom: 0,
      ),
      "center": (
        top: 0,
        bottom: 0,
        margin: auto,
        position: absolute,
        left: 0,
        right: 0,
      ),
    ),
  ),
);
