// text align
@mixin text-align($breakpoint: false, $breakpoint-type: null) {
  @each $align, $value in $text-align {
    @if $breakpoint == false {
      .text-#{$align} {
        text-align: $value;
      }
    } @else {
      .#{$breakpoint-type}\:text-#{$align} {
        text-align: $value;
      }
    }
  }
}

// font weight
@mixin font-weight($breakpoint: false, $breakpoint-type: null) {
  @each $weight, $value in $font-weight {
    @if $breakpoint == false {
      .fw-#{$weight} {
        font-weight: $value;
      }
    } @else {
      .#{$breakpoint-type}\:fw-#{$weight} {
        font-weight: $value;
      }
    }
  }
}

// text transform
@mixin text-transform($breakpoint: false, $breakpoint-type: null) {
  @each $transform, $value in $text-transform {
    @if $breakpoint == false {
      .text-#{$transform} {
        text-transform: $value;
      }
    } @else {
      .#{$breakpoint-type}\:text-#{$transform} {
        text-transform: $value;
      }
    }
  }
}

// font size
@mixin font-size($breakpoint: false, $breakpoint-type: null) {
  @each $size, $value in $font-size {
    @if $breakpoint == false {
      .f-#{$size} {
        font-size: $value;
      }
    } @else {
      .#{$breakpoint-type}\:f-#{$size} {
        font-size: $value;
      }
    }
  }
}
