// font weight
@mixin font-weight($breakpoint: false, $breakpoint-type: null) {
  @each $weight, $value in $font-weight {
    $class-name: fw-#{$weight};
    @include generate-class($class-name, $breakpoint, $breakpoint-type) {
      font-weight: $value;
    }
  }
}

// text transform
@mixin text-transform($breakpoint: false, $breakpoint-type: null) {
  @each $transform, $value in $text-transform {
    $class-name: text-#{$transform};
    @include generate-class($class-name, $breakpoint, $breakpoint-type) {
      text-transform: $value;
    }
  }
}

// font size
@mixin font-size($breakpoint: false, $breakpoint-type: null) {
  @each $size, $value in $font-size {
    $class-name: f-#{$size};
    @include generate-class($class-name, $breakpoint, $breakpoint-type) {
      font-size: $value;
    }
  }
}
