@mixin generate-utility(
  $utility-map,
  $breakpoint: false,
  $breakpoint-type: null
) {
  @each $utility, $utility-value in $utility-map {
    $class: map-get($utility-value, class);
    $property: map-get($utility-value, property);
    $values: map-get($utility-value, values);
    @each $key, $value in $values {
      $class-name: #{$class}-#{$key};
      @include generate-class($class-name, $breakpoint, $breakpoint-type) {
        #{$property}: $value;
      }
    }
  }
}
