@each $color, $value in $grays {
  .text-#{$color} {
    color: $value;
  }
}

@each $align, $value in $text-align {
  .text-#{$align} {
    text-align: $value;
  }
}

@each $weight, $value in $font-weight {
  .fw-#{$weight} {
    font-weight: $value;
  }
}

@each $transform, $value in $text-transform {
  .text-#{$transform} {
    text-transform: $value;
  }
}
